*{
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
  box-sizing: border-box;
}
html{
	height : 100%;
	width : 100%;
	font-size : 1em;
}
body{		
  font-size : 100%;	
  height: 100%;
  width : 100%;

  font-family: 'Nunito';	

  background: #263346;
  color : #F2F2F2;

}

/* BASE */
h1{
  font-size: 2em;
  font-weight: bold;

  font-family: 'Noto Sans';
}
h2{
  font-size: 1.5em;
  font-weight: bold;

  font-family: 'Noto Sans';
}
h3{
  font-size: 1.2em;
  font-weight: bold;

  font-family: 'Noto Sans';
}

/* FORMS ! INPUT / BUTTONS & CO */
input[type="text"], select, div.select-custom{
  padding : 0px 8px;

  background: rgba(255,255,255,0.1);
  border : 1px solid rgba(255,255,255,0.15);
  border-bottom : 1px solid rgba(255,255,255,0.25);
  color : #f2f2f2;
  border-radius: 0px;
  line-height: 36px;
  background-clip: padding-box;
  width : 100%;
  display: block;
}
select{
  height : 38px;
}
input[type="text"]:hover{
  border : 1px solid rgba(255,255,255,0.25);
  border-bottom : 1px solid rgba(255,255,255,0.35);
}
input[type="text"]:focus{
  border-bottom : 1px solid #2196f3 ;
}
input::placeholder{
  color: rgba(0,0,0,0.3);
}
button{
  border-radius: 3px;
  line-height: 36px;
  color : rgba(255,255,255,0.85);
  display : inline-block;
  padding : 0px 10px;
  cursor : pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
input[type="checkbox"].toggle{
  display: none;
}
input[type="checkbox"].toggle + label{
  border-radius: 3px;
  color : rgba(255,255,255,0.85);
  background-color: rgba(255,255,255,0.10);
  border: 1px rgba(255,255,255,0.25) solid;
  display : inline-block;
  padding : 0px;
  cursor : pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width : 60px;
  height : 36px;
  vertical-align: middle;
  overflow: hidden;
}
input[type="checkbox"].toggle + label:before{
  display: block;
  border-radius: 3px;

  content : "\f068";
  width : 30px;
  height : 30px;
  line-height : 30px;
  margin : 2px;
  background: rgba(206, 11, 11, 0.884);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  text-align : center;

  transition : all 350ms ease-in;
}
input[type="checkbox"]:checked.toggle + label:before{
  content : "\f00c";
  background: rgba(11, 206, 11, 0.884);
  margin-left: 26px;
  transition : all 350ms ease-out;
}

/* TABLE */
table {
  white-space: nowrap;
  margin: 0;
  border: none;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;

  width : 100%;
}
table thead th {
  position: sticky;
  top: 0;
  z-index: 1;
  text-align: left;

  background : #131F30;
  color : rgba(255,255,255,0.65); 
  border-bottom : 1px rgba(255,255,255,0.25) solid;
  
  padding : 5px 10px;
}
table td {
  text-align: left;
  border-bottom : 1px rgba(255,255,255,0.15) solid;

  padding : 10px 10px;
}

table tbody th {
  font-weight: 100;
  font-style: italic;
  text-align: left;
  position: relative;
}
table thead th:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
}
table tbody th {
  position: sticky;
  left: 0;
  z-index: 1;
}

/* CLASS STANDARD */
 .t-left{   text-align: left; }
 .t-center{ text-align: center; }
 .t-right{  text-align: right; }
.pad {    padding : calc(var(--x) * 1px); }
.marg {   margin : calc(var(--x) * 1px); }


.flex0{   flex : 0!important; }
.flex200px{   flex : 0 1 200px!important; }
.flexpx{   flex : 0 1 calc(var(--f) * 1px)!important; }

.cflexbox{
	flex : 1;
	display : flex;
	justify-content : start;
	flex-direction : row;
	align-items: shrew;
	flex-wrap: wrap;
}
.cflexbox.nowrap{
	flex-wrap: nowrap;		
}
.cflexbox.reverse{
	flex-direction: row-reverse;
}
.cflexbox > *{
	flex : 1;
}

.sticky{  
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}
.bulle{
  margin : 2px;
  padding : 2px;
  border-radius : 5px;
}
 /* APPS */
#app{
  display : flex;
  flex-direction: column;

  width : 100%;
  height : 100%;
}
#app > * {
  flex : 1;
}
#app .container{
  overflow-y: auto;
  margin : 15px;
}