<!DOCTYPE html> 
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KOPTA</title>

    <script src="js/vue-dev.js"></script>
    <script src="js/lodash.js"></script>

    <link rel="stylesheet" href="css/fonts.css" />
    <link rel="stylesheet" href="css/body.css" />
    <link rel="stylesheet" href="css/color.css" />
    <link rel="stylesheet" href="css/all.min.css" />
</head>
<body>
    <div id="app" class="">
        <div class="pad flexpx cflexbox" style="--x:15; --f:50">
            <div><h1>{{ title }}</h1></div>
        </div>
        <div class="pad flex0" style="--x:15"> <input type="text" id="search" v-model="search" /></div>
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th width="150px">N°</th>
                        <th>Libellé</th>
                        <th width="150px" class="t-right">
                            <input type="checkbox" id="activeonly" name="activeonly" v-model="activeonly" class="toggle" />
                            <label for="activeonly"></label>
                            <button type="button" class="blue darken-1" v-on:click="add()">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(l, index) in activeLines">
                        <td>{{ l.num }}</td>
                        <td>{{ l.label }}</td>
                        <td class="t-right">
                            <button v-if="l.status" type="button" class="red" v-on:click="del(index)">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                            <button v-if="!l.status" type="button" class="blue darken-1" v-on:click="ret(index)">
                                <i class="fa-solid fa-trash-arrow-up"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="flex0 pad cflexbox" style="--x:15"> 
            <bulleinfo v-for="(l, index) in activeLines" v-bind:line="l"></bulleinfo>
        </div>
    </div>
    <script src="./app.js"></script>
</body>
</html>